body {
    height: 100vh;
    margin: 0;
    font-family: 'Syne Mono', monospace;
    background-color: black;
    color: white;
}

.battle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
}

.middleOfScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 30%;
}

.scoreZone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreNumber {
    margin: 0 20px 0 20px;
    font-size: 150px;
}

#x {
    font-size: 40px;
}

.gameButton {
    background-color: white;
    font-size: 20px;
    height: 100px;
    width: 200px;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.6;
}

.gameButton:hover {
    background-color: #cccccc;
}

#resetGame {
    display: none;
}

.computer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
}

.selectionArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.toChoose {
    display: none;
    width: 150px;
    height: 150px;
    margin: 0 20px 0 20px;
    border-radius: 50%;
    cursor: pointer;
}

.toChoose:hover {
    box-shadow: 0px 0px 20px 10px rgb(255, 255, 255);
}

.waiting {
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px #999999;
}

.win {
    box-shadow: 0px 0px 20px 10px #00ff00;
}

.lose {
    box-shadow: 0px 0px 20px 10px #ff0000;
}

.tie {
    box-shadow: 0px 0px 20px 10px #ffff00;
}

